<% if alert %>
  <div class="section row flash-red">
    <div class="col s12 red lighten-4 z-depth-1">
      <div class="section">
        <%= alert %>
      </div>
    </div>
  </div>
<% end %>
<% if notice %>
  <div class="section row flash-green">
    <div class="col s12 green lighten-4 z-depth-1">
      <div class="section ">
        <%= notice %>
      </div>
    </div>
  </div>
<% end %>